.container {
	display: grid;
	grid-template-areas:
		"nav nav nav nav"
		"box1 box2 box3 sidebar"
		"section section section sidebar"
		"footer footer footer footer";
	height: 100vh;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
	font-size: 2rem;
	text-align: center;
	gap: 10px;
	background-color: black;
}

nav {
	background-color: blueviolet;
	grid-area: nav;
	color: white;
}

.box1 {
	background-color: yellow;
	grid-area: box1;
}

.box2 {
	background-color: rgb(220, 220, 14);
	grid-area: box2;
}

.box3 {
	background-color: rgb(202, 202, 47);
	grid-area: box3;
}

main {
	background-color: rgb(162, 159, 159);
	grid-area: section;
}

.sidebar {
	background-color: tomato;
	grid-area: sidebar;
}

.footer {
	background-color: blueviolet;
	color: white;
	grid-area: footer;
}

.all {
	border-radius: 10px;
	padding-top: 10px;
}
